img {
	width:  500;
	height: 500;
}

h1 {
	color: #2EB3AC;
}

.callOut {
	color: #FF615B;
}

.bgColor {
	background-color: #4FFFF7;
}

.smImage {
	height:  250;
	width:  250;
}

.thumbnail {
	border: 5px solid #96B389;
	height:  100;
	width:  100;
}

#myHeading {
	background-color: #FF615B;

}